%legend
  = title 'My Messages'

  - unless @messages.blank?
    .pull-right
      = link_to 'Mark all as read', mark_all_as_read_messages_path, confirm: 'Are you sure you want to mark all messages as read?', class: "btn btn-xs btn-success"

      = link_to 'Delete all received messages', delete_all_messages_path, method: :delete, confirm: 'Are you sure you want to delete all your messages?', class: "btn btn-xs btn-danger"

= render partial: "messages_tabs"

.pull-right
  = paginate @messages
.clearfix

- if @messages.any?
  = render partial: "message", collection: @messages
- else
  .centered There are no messages

.pull-right
  = paginate @messages
  
.clearfix