- helpful_exists = current_user ? comment.helpfuls.map(&:user_id).include?(current_user.id) : false
- post_helpful = comment.helpfuls_count.to_i
- if current_user
  = link_to mark_as_helpful_comment_path(comment), id: "helpful_#{comment.commentable.id}", class: "helpful-post #{helpful_exists ? "active" : ""}", remote: true do
    - if helpful_exists
      = fa_icon 'star'
    - else
      = fa_icon 'star-o'
    Helpful
    %span.count
      = post_helpful
- else
  .helpful-post
    - if helpful_exists
      = fa_icon 'star'
    - else
      = fa_icon 'star-o'
    Helpful
    %span.count
      = post_helpful