#review_body
  .doctor_review_form
    - if @doctor.present?
      = hidden_field_tag :doctor_id, @doctor.id
    = f.fields_for :doctor do |ft|

      = ft.hidden_field :id

      - ft.object.user_id = current_user.id if ft.object.user_id.blank?
      = ft.hidden_field :user_id

      = ft.hidden_field :skip_review_update

      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.compensate
          .control-group
            = ft.label :doctor, class: "control-label"          
            .controls
              = ft.text_field :name, class: "typeahead doctor_name form-control", autocomplete: "off"
              %p.text-error.error-unique.hide You already entered this doctor. To add a review, go to #{link_to 'Doctors', my_health_personal_profile_path(medical_editor: :doctors) } and click the "Add Review" button

        .col-lg-6.col-md-6.col-sm-6.col-xs-12.compensate
          .control-group
            .controls            
              %label#currently-seeing
                = ft.check_box :currently_seeing, class: "input-medium change-currently_taking"
                Currently Seeing?

      .row          
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.compensate
          .control-group
            = ft.label :started, class: "control-label"
            .controls.date_select
              = ft.date_select :started_on, {discard_day: true, order: [:month, :year], start_year: 1990, end_year: Time.now.year}, { class: 'form-control select2' }

        .col-lg-6.col-md-6.col-sm-6.col-xs-12.compensate
          .ended-period{style: "margin: 0px;", class: ('hide' if ft.object.currently_seeing?)}
            .control-group
              = ft.label :ended, class: "control-label"
              .controls.date_select
                = ft.date_select :ended_on, {discard_day: true, order: [:month, :year], start_year: 1990, end_year: Time.now.year}, { class: 'form-control select2' }

      .row        
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.compensate          
          .control-group
            %p
              %label.control-label Recommended?
            = link_to 'Yes', 'javascript:void()', class: "centered label-default doctor-label label one-line #{"label-info" if @doctor.try(:recommended?)}", remote: true, method: :patch
            = link_to 'No', 'javascript:void()', class: "centered label-default doctor-label label one-line #{"label-info" if @doctor.try(:recommended) == false}", remote: true, method: :patch
            = ft.hidden_field :recommended

        .col-lg-6.col-md-6.col-sm-6.col-xs-12.compensate
          .control-group
            .controls
              = ft.label :location, class: "control-label"
              - selected = ft.object.country_id.nil? ? current_user.country_id : ft.object.country_id
              = ft.select :country_id, options_for_select([['Please Select', '']] + Country.order('name asc').map{|c| [c.name, c.id]}, selected), {}, class: 'form-control select2'
            
            .control-group.city-select{class: ('hide' if @doctor.try(:country_cache) == 'United States')}
              = ft.label :city, "City", class: "control-label"
              .controls
                = ft.text_field :city,  class: 'form-control', placeholder: 'Enter City'
            
            .control-group.states-select{class: ('hide' unless @doctor.try(:country_cache) == 'United States')}          
              = ft.label :state, "State", class: "control-label"
              .controls
                = ft.select :state, Country.us_states, {}, class: 'form-control select2'                  
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.compensate
      .control-group
        = f.label :content, "Description", class: "control-label"
        .controls
          = f.text_area :content, placeholder: "Describe your experience", rows: 4, class: 'input form-control input-xxlarge users-typehead'
      
      .control-group.conditions_container{id: "add_conditions_container_#{@doctor_review.id}"}
        %label.control-label Conditions
        
        - if @doctor_review.conditions.present?
          - @doctor_review.conditions.each_with_index do |condition, index|
            .control-group.treatment_condition{id: "treatment_condition_container_#{condition.id}"}
              .controls
                = select_tag "doctor_review[condition_ids][]", options_for_select([['Select Condition', '']] + Condition.active.where("name is not null and name != ?", "").order('name asc').map{|c| [c.name, c.id]}, condition.id), class: "form-control"
                = link_to 'javascript:void(0);', class: 'remove_treatment_condition' do
                  %i.fa.fa-times-circle
        
        - if @doctor_review.new_record?
          .control-group.treatment_condition
            .controls
              = select_tag "doctor_review[condition_ids][]", options_for_select([['Select Condition', '']] + Condition.active.where("name is not null and name != ?", "").order('name asc').map{|c| [c.name, c.id]}, current_user.main_condition.try(:id)), class: " form-control"
              = link_to 'javascript:void(0);', class: 'remove_treatment_condition' do
                %i.fa.fa-times-circle
      
        .control-group
          .controls
            = link_to 'Add Condition', 'javascript:void(0);', class: 'add_condition_link', id: "add_conditions_link_#{@doctor_review.id}"

  .clearfix

.modal-footer
  = f.submit 'Save', class: 'btn btn-success', data: {disable_with: 'Saving...'}
  %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal", :"aria-hidden" => "true"} Close