.labs.row#labs-anchor
  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    %h3.date.pull-left= l @date, format: :short
    %a.btn.btn-link.datepicker#labs-datepicker.medical-datepicker{href: '#'}
      = fa_icon :calendar
  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    %button.btn.btn-success.btn-toggle-symptoms.pull-right.margin-top-10.pull-right{data: {target: '#lab-add'}, onclick: 'return false;'}
      Add Names
  .visible-xs
    %br
  .clearfix

  .row.col-lg-7.col-md-12.col-sm-12.col-xs-12.collapse.col-lg-offset-3#lab-add
    .col-lg-9.col-md-9.col-sm-12.col-xs-12
      = text_field_tag :lab, '', placeholder: 'Enter a Lab', class: 'typeahead treatment_name', autocomplete: 'off', id: 'tags-labs'
      %i#comma-help-float-left Separate labs with commas
    .col-lg-3.col-md-3.col-sm-12.col-xs-12
      = button_tag type: 'submit', class: 'btn btn-success labs-submit expand-on-xs' do
        = my_fa_icon('add')
        Add

  .clearfix
  #labs-container
    = render 'labs'