= content_for :scripts do
  :javascript
    function update_crop(coords) {
      var rx = 100/coords.w;
      var ry = 100/coords.h;

      $('#preview').css({
        width: Math.round(rx * #{current_user.profile_photo.pic_geometry(:large).width}) + 'px',
        height: Math.round(ry * #{current_user.profile_photo.pic_geometry(:large).height}) + 'px',
        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
        marginTop: '-' + Math.round(ry * coords.y) + 'px'
      });

      var ratio = #{current_user.profile_photo.pic_geometry(:original).width} / #{current_user.profile_photo.pic_geometry(:large).width};

      $("#crop_x").val(Math.round(coords.x * ratio));
      $("#crop_y").val(Math.round(coords.y * ratio));
      $("#crop_w").val(Math.round(coords.w * ratio));
      $("#crop_h").val(Math.round(coords.h * ratio));
    }

%fieldset
  %legend Adjust Your Photo

  = image_tag current_user.profile_photo.attachment.url(:large), id: 'cropbox'

%fieldset
  %legend
    Preview:

  %div{style: 'width:100px; height:100px; overflow:hidden'}
    = image_tag current_user.profile_photo.attachment.url(:large), id: 'preview', style: "width: #{current_user.profile_photo.pic_geometry(:large).width}px; height: #{current_user.profile_photo.pic_geometry(:large).height}px;"

  = form_for current_user.profile_photo, url: crop_photo_personal_profile_path do |f|
    - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
      = f.hidden_field attribute, :id => attribute
    .clearfix
      %p
        &nbsp;
      %p
        = f.submit 'Finish Adjustment', class: 'btn btn-success'
