%p
  Hello, #{@comment.user.username}

%p
  #{@by_user.username} luvs your comment "#{truncate(@comment.content, :length => 100, :omission => "... (continued)")}"

%p

  To read more, go to:

  %br/
  - url = "#{post_url(@comment.commentable)}#comment_#{@comment.id}"
  = link_to url, url

%p
  The HealClick Team