
Hello, #{@markable.user.username}

%p
  #{@user.username} finds this comment helpful: "#{truncate(@markable.content, :length => 200, :omission => "... (continued)")}"

%p
  To read more, go to:
  %br/
  - if @markable.parent.present?
    - url = "#{post_url(@markable.commentable)}?comment_id=#{@markable.parent.id}&expanded=true#comment_#{@markable.id}"
  -else
    - url = "#{post_url(@markable.commentable)}?comment_id=#{@markable.id}&expanded=true#comment_#{@markable.id}"
  = link_to url, url
%p
  The HealClick Team