%p
  Hello, #{@user.username}

%p
  #{@object.anonymous ? "Anonymous" : @by_user.username} mentioned you in: 
  %br/
  #{truncate(@object.content, :length => 200, :omission => "... (continued)")}

%p
  To read more, go to: 
  %br/
  - url = "#{user_photo_url(@object.commentable.user, @object.commentable)}#comment_#{@object.id}"
  = link_to url, url

%p
  The HealClick Team